<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mortal.hua.dao.UserDao">
    <select id="selectByNameAndPassword" resultType="user">
        select id,name,password from user where name=#{name} and password=#{password}
    </select>

    <select id="selectNameByName" parameterType="string" resultType="string">
        select name from user where name=#{name}
    </select>

    <select id="selectIdByName" parameterType="string" resultType="int">
        select id from user where name=#{name}
    </select>

    <select id="selectInfoByName" parameterType="string" resultType="user">
        select name,password,progress,scores,stars from user_info where name=#{name}
    </select>

    <select id="selectTopStars" parameterType="int" resultType="user">
        select name,stars from user_info order by stars desc limit #{count}
    </select>

    <select id="selectTopScores" parameterType="int" resultType="user">
        select name,scores from user_info order by scores desc limit #{count}
    </select>

    <insert id="insert" parameterType="user" useGeneratedKeys="true">
        insert into user (name,password) values (#{name},#{password})
    </insert>

</mapper>